*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    overflow: auto;
}

.container{
    width: 100vw;
    height: calc(100vh - 120px);
    background-color: black;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
}

.col-13{
    margin: 5px;
    width: calc(100% / 7 - 10px);
}

.content{
    height: 150px;
    padding: 10px 0;
}

img{
    width: 100%;
}

footer{
    height: 130px;
    background-color: lightblue;
}